:root {
    --selected_tab_color: #ccc;
    --unselected_tab_color: var(--website_background_color);
   
    --hover_tab_color: #ddd;
    
   }
   
   body {
     background: lightblue var(--website_background_image) no-repeat fixed center;
     background-size: 100% 100%;
     background-attachment: fixed;
     background-position: top center;
   }
   
   /* This class is defined in style.css. Below are some additional properties */
   .introduction_container {
     margin-top: 2rem;
   }
   
   .introduction_container h1 {
   }
   

   .introduction_container h3 {
   }
   
   .inner_text {
     font-size: medium;
     width: inherit;
     margin-left: 10%;
     margin-right: 10%;
   }

