:root {
  --gallery_background_color: hsl(240, 18%, 77%);
}

body {
  background: var(--website_background_color);
  background: lightblue var(--website_background_image) no-repeat fixed center;
  background-size: 100% 100%;
  background-attachment: fixed;
  background-position: top center;

}

/* Below property will override the property from style.css */
.body_container {
  background: var(--website_background_color);
  background-color: transparent;


}

/* This class is defined in style.css. Below are some additional properties */
.introduction_container {
  margin-top: 2rem;
}

.introduction_container h1 {}

.introduction_container h3 {
  margin-top: 0;
  margin-bottom: 0;
}



.gallery_container {
  /* background: lightblue url("./images/photos/view_of_sea.jpg") no-repeat fixed center; */
  background-color: transparent;
  margin: 2rem;
  margin-top: 1rem;
}

/* Gallery page */
.image_gallery_grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  padding: 1rem;
  padding-top: 0;
  justify-content: center;
}

div.gallery_cell {
  margin: 5px;
  border: 1px solid #ccc;
  text-align: center;
  /* float: left; */
  width: 9rem;
  background-color: var(--gallery_background_color);
}


div.gallery_cell img {
  width: 100%;
  height: auto;
}

div.gallery_cell img:hover {
  opacity: .9;
}

div.desc {
  padding: 15px;
  text-align: center;
}

div.gallery_cell img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.image_gallery_grid > .gallery_cell {
  padding: 0 8px;
}

.image_gallery_grid:after {
  content: "";
  display: table;
  clear: both;
}

.gallery_cell {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 2rem;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.8);
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  margin-top: 2%;
  padding: 0;
  width: 90%;
  max-width: 90%;
  background: transparent;
}



.image_fullsize {
  max-width: 80%;
  max-height: 30rem;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.8);
  border-radius: 10px;
}

.image_lighthouse_thumbnail {
  width: 10%;
  margin: .3rem;
  
  background: rgba(0, 0, 0, 0.7);
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
  text-align: center;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 30%;
  width: auto;
  padding: 1rem;
  margin-top: 1rem;
  color: white;
  font-weight: bold;
  font-size: xx-large;
  transition: 0.6s ease;
  border-radius: 5px 0 0 5px;

  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  /* border-radius: 3px 0 0 3px; */
  border-radius: 0 5px 5px 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.5;
}

.active,
.demo:hover {
  opacity: 1; 
}

.lighthouse_thumbnails_container {
  display: flex;
}





/* (A) RESPONSIVE IMAGE */

 
/* (B) POSITION CAPTION */
.hover_caption {
  /* (B1) PLACE AT BOTTOM */
  position: absolute; bottom: 0; left: 0;
 
  /* (B2) DIMENSIONS + COLORS */
  width: 100%; padding: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

/* (C) ONLY SHOW CAPTION ON HOVER */
.hover_caption {
  visibility: none; opacity: 0;
  transition: opacity 0.3s;
}
.mySlides:hover .hover_caption {
  visibility: visible; opacity: 1;
}