:root {
    --gallery_background_color: hsl(240, 18%, 77%);
}

body {
  background: var(--website_background_color);
}

/* Below property will override the property from style.css */
.body_container {
  background: var(--website_background_color);

}

/* This class is defined in style.css. Below are some additional properties */
.introduction_container {
  margin-top: 2rem;
}

.introduction_container h1 {
}

.introduction_container h3 {
 margin-top: 1rem;
}



.gallery_container {
  background: lightblue url("./images/photos/view_of_sea.jpg") no-repeat fixed center;

  margin: 2rem;
  margin-top: 1rem;
}

/* Gallery page */
.image_gallery_grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    padding: 1rem;
    justify-content: center;
  }
  
  div.gallery_cell {
    margin: 5px;
    border: 1px solid #ccc;
    text-align: center;
    /* float: left; */
    width: 9rem;
    background-color: var(--gallery_background_color);
    
  }
  
  div.gallery_cell:hover {
    border: 1px solid #777;
  }
  
  div.gallery_cell img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }