* {
  box-sizing: border-box
}

:root {
  /* ### Primary */
  --website_background_color: hsl(240, 18%, 77%);
  --website_background_image: url("./images/photos/villas_background_image.jpg");

  --dark_blue: hsl(240, 38%, 20%);

  --grayish_blue: hsl(240, 18%, 77%);
  --menu_background_color: hsla(0, 100%, 50%, 0.1);
  --menu_text_color: white;
  --menu_font_size: 1.5rem;
  --menu_focus_text_color: hsl(25, 80%, 76%);

  --language_menu_font_size: .8rem;
  --language_menu_background_color: #04AA6D;

  --header_text_color: rgb(121, 80, 14);

  --introduction_h1_text_size: xx-large;
  --introduction_h1_text_color: var(--header_text_color);

  --introduction_h3_text_size: medium;
  --introduction_h3_text_color: hsl(240, 90%, 11%);

  --inner_title_text_color: var(--header_text_color);
  --inner_title_font_size: x-large;
  --inner_text_color: hsl(240, 90%, 11%);
  --inner_text_size: small;

  --footer_text_color: hsl(240, 90%, 11%);
  --footer_text_size: small;
}

.noDisplay {
  display: none !important;
}

body {
  /* font-family: Verdana, sans-serif; */
  font-family: Open Sans, sans-serif;
  margin: 0;
  display: block;
}

hr {
  height: 1px;
  background-color: #ccc;
  border: none;
}

.body_container {
  background: linear-gradient(60deg, rgba(255, 0, 0, 0.05) 100%, rgba(0, 0, 255, 0.05) 100%);
}



/* ********************** Carousel Slide Show Code */
.slide_show_container {
  background: linear-gradient(45deg, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, 0.5) 100%);
  background-color: #ccc;
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/9 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  cursor:pointer;
}

.active,
.dot:hover {
  background-color: #717171;
}

.slider_img {
  vertical-align: middle;
}


.slides_container {
  animation: 36s fading-slideshow infinite linear;
  opacity: 0.0

}

.mySlides {
  animation: 36s fading-slideshow infinite linear;
  opacity: 0.0
}

@keyframes fading-slideshow {
    0%     {opacity: 0.3; transform: translateX(-15px);}
    4%     {opacity: 1.0; transform: translateX(0px);}
    33.33% {opacity: 1.0; transform: translateX(0px);}
    37.33% {opacity: 0.3; transform: translateX(10px);}
    100%   {opacity: 0.0; transform: translateX(15px);}
  }



/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px
  }
}
/* ********************** END Carousel Slide Show Code */



/* Menu styling */
/* **************************************************** */
.hamburger_menu_container {
  display: none;
}

.header_container {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  top: 0rem;
}

.main_menu_container {
  padding: .2rem;
  display: flex;
  /* Testing below */
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.menu_navigation {
  position: relative;
  left: 25%;
  overflow: hidden;
  border-radius: 5px;
  background: var(--menu_background_color);
  
}







/* Language Selector menu */
#language_selector {
  background-color: var(--language_menu_background_color);
  color: var(--menu_text_color);
  padding: .5rem;
  font-size: var(--language_menu_font_size);
  border: none;
  margin-right: 1rem;
  border-radius: 5px;
}

.language_dropdown_content {
  display: block;
  position: absolute;
  font-size: var(--language_menu_font_size);
  background-color: var(--language_menu_background_color);
  min-width: 160px;
  box-shadow: 0 10px 20px var(--dark_blue);
  z-index: 1;
}

#language_selector:hover {
  background-color: #3e8e41;
}

.multilingual::after {
  content: attr(data-en);
}

select option[value="gr"] {
  background: rgba(100, 100, 100, 0.3);
}


/* Style the links inside the navigation bar */
.menu_navigation a {
  float: left;
  color: var(--menu_text_color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: var(--menu_font_size);
}

/* Change the color of links on hover */
.menu_navigation a:hover {
  background-color: var(--menu_text_color);
  color: var(--menu_focus_text_color);
}

/* Add a color to the active/current link */
.menu_navigation a.active {
  background-color: #04AA6D;
  color: white;
}



/* Introduction Container Styling
****************************** */
.introduction_container {
  padding: 2rem;
  font-weight: normal;
  text-align: center;
}

.introduction_container h1 {
  font-size: var(--introduction_h1_text_size);
  color: var(--introduction_h1_text_color);
}

.introduction_container h3 {
  font-size: var(--introduction_h3_text_size);
  color: var(--introduction_h3_text_color);
  font-weight: normal;
}

.inner_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.inner_title {
  text-align: center;
  color: var(--inner_title_text_color);
  font-size: var(--inner_title_font_size);
  margin-bottom: .5rem;
  text-transform: uppercase;
}

.inner_text {
  width: 40rem;
  font-size: var(--inner_text_size);
  color: var(--inner_text_color);
}

.inner_container_img {
  width: 20rem;
}

.side_img {
  width: 100%;
  border-radius: 5px;
}

.animate_side_img {
 transform: translateY(-40px);
 opacity: 0.4;
 transition: 1.5s;
}
.animate_side_img--show {
 transform: translateY(0px);
 opacity: 1;
}

/* Introduction Container Styling - end
************************************ */




/* Footer styling */
.footer_container {
  text-align: center;
  margin: 1rem;
  display: block;
  margin-top:3rem;
}

.footer_text {
  color: var(--footer_text_color);
  font-size: var(--footer_text_size);

}




/* Google Map */
#map {
  width: 20rem;
  height: 10rem;
}




@media screen and (max-width: 750px) {
  .main_menu_container {
    display: none;
  }
  .hamburger_menu_container {
    display: block;
  }

  #hamburger-menu {
    display: inline;
  }
}