:root {
 --selected_tab_color: #ccc;
 --unselected_tab_color: var(--website_background_color);

 --hover_tab_color: #ddd;
 
}

body {
  background: lightblue var(--website_background_image) no-repeat fixed center;
  background-size: 100% 100%;
  background-attachment: fixed;
  background-position: top center;
}

/* This class is defined in style.css. Below are some additional properties */
.introduction_container {
  margin-top: 2rem;
}

.introduction_container h1 {
}

.introduction_container h3 {
 margin-top: 1rem;
 text-align: left;
 margin-left: 10%;
}

.inner_text {
  font-size: medium;
  width: inherit;
}

/* .splash_img {
  width: 100%;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: .2;
  }
} */

#villa_1_container, #villa_2_container, #villa_3_container {
  display: flex;
  text-align: left;
  margin :auto;
  margin-bottom: 1rem;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}


.villa_container_grid {
  padding: 1rem 0 1rem 0 ;
  display: grid;
  margin: 1rem;
  grid-template-columns: auto auto auto;
  gap: .5rem;
  background-color: var(--selected_tab_color);
}

.amenities {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.amenity_description {
  padding: 0 .4rem 0 .4rem;
}
.amenity_text {
  font-size: small;
  color: var(--inner_text_color);
}
.amenity_icon {
  width: 2rem;
}

.grid_img {
  width: 8rem;
}

.villa_description {
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: left;
  width: inherit;
}


ul {
  margin-top: 0;
}
/* Tabsheet Styling - start
************************ */
/* Style the tab */
.tabsheets_container {
  text-align: center;
  background-color:transparent;
}

.tab {
  background-color: var(--unselected_tab_color);
  display: flex;
  justify-content: center;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 1rem 1rem;
  width: 34%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  padding: 0;
  text-align: center;
  border: .2px solid var(--selected_tab_color);
  border-radius: 0;

}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: var(--hover_tab_color);
}

/* Create an active/current tablink class */
.tab button:focus {
  background-color: var(--selected_tab_color);
  border-radius: 20px 20px 0 0;
}


/* Style the tab content */
.tabcontent {
  display: none;
  justify-content: center;
  border: 1px solid var(--selected_tab_color);
  background-color: var(--selected_tab_color);
  border-top: none;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}
.tabcontent:hover {
  cursor: pointer;
}

.tabsheet_text {
  width: 100%;
}

.tabsheet_img {
  width: 50%;
}

.tabsheet_text {
  text-align: left;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
  from { transform: scale(0.5);}
  to   { transform: scale(1);}

  from {opacity: 0;}
  to   {opacity: 1;}

}

@keyframes fadeEffect {
  from { transform: scale(.5);}
  to   { transform: scale(1);}

  from {opacity: 0;}
  to   {opacity: 1;}

}

/* Tabsheet Styling - end
************************ */



